.mstheme
{
	separator-image: url(neoarule.gif);
	list-image-1: url(neoabul1.gif);
	list-image-2: url(neoabul2.gif);
	list-image-3: url(neoabul3.gif);
	nav-banner-image: url(neoabnr.gif);
	navbutton-horiz-normal: url(neoahnd.gif);
	navbutton-horiz-hovered: url(neoahnm.gif);
	navbutton-horiz-pushed: url(neoahnd.gif);
	navbutton-vert-normal: url(neoavnd.gif);
	navbutton-vert-hovered: url(neoavnm.gif);
	navbutton-vert-pushed: url(neoavns.gif);
	navbutton-home-normal: url(neoahom.gif);
	navbutton-home-hovered: url(neoahomm.gif);
	navbutton-home-pushed: url(neoahom.gif);
	navbutton-next-normal: url(neoahom.gif);
	navbutton-next-hovered: url(neoahomm.gif);
	navbutton-next-pushed: url(neoahom.gif);
	navbutton-prev-normal: url(neoahom.gif);
	navbutton-prev-hovered: url(neoahomm.gif);
	navbutton-prev-pushed: url(neoahom.gif);
	navbutton-up-normal: url(neoahom.gif);
	navbutton-up-hovered: url(neoahomm.gif);
	navbutton-up-pushed: url(neoahom.gif);
}
.mstheme-bannertxt
{
	font-family: 新細明體;
	color: rgb(198, 253, 142);
	font-size: 6;
	font-style: normal;
	font-weight: normal
}
.mstheme-horiz-navtxt
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle
}
.mstheme-vert-navtxt
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	vertical-align: middle
}
.mstheme-navtxthome
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtnext
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtprev
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtup
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
ul
{
	list-style-image: url('neoabul1.gif');
}
ul ul
{
	list-style-image: url('neoabul2.gif');
}
ul ul ul
{
	list-style-image: url('neoabul3.gif');
}
a:link
{
	color: rgb(142, 255, 243);
}
a:active
{
	color: rgb(255, 255, 0);
}
a:visited
{
	color: rgb(102, 204, 0);
}
body
{
	background-color: rgb(41, 2, 74);
	color: rgb(255, 255, 204);
}
table
{
	table-border-color-light: rgb(0, 255, 255);
	table-border-color-dark: rgb(102, 204, 255);
}
h1
{
	color: rgb(255, 153, 255);
}
h2
{
	color: rgb(248, 199, 150);
}
h3
{
	color: rgb(255, 255, 0);
}
h4
{
	color: rgb(153, 255, 102);
}
h5
{
	color: rgb(153, 255, 204);
}
h6
{
	color: rgb(255, 153, 204);
}
button
{
	background-color: rgb(0, 255, 0);
	color: rgb(0, 0, 0);
}
label
{
	color: rgb(255, 255, 204);
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(255, 255, 255);
}
legend
{
	color: rgb(0, 255, 0);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(0, 255, 0);
}
th
{
	color: rgb(255, 255, 204);
}
.mstheme-bannertxt a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-bannertxt a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-bannertxt a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-bannertxt-g
{
	font-family: 新細明體;
	color: rgb(198, 253, 142);
	font-size: 6;
	font-style: normal;
	font-weight: normal
}
.mstheme-bannertxt-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-bannertxt-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-bannertxt-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-bannertxt-s
{
	font-family: 新細明體;
	color: rgb(198, 253, 142);
	font-size: 6;
	font-style: normal;
	font-weight: normal
}
.mstheme-bannertxt-s a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-bannertxt-s a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-bannertxt-s a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-horiz-navtxt a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-horiz-navtxt a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-horiz-navtxt a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-horiz-navtxt-g
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle
}
.mstheme-horiz-navtxt-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-horiz-navtxt-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-horiz-navtxt-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-horiz-navtxt-gs
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle
}
.mstheme-horiz-navtxt-gs a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-horiz-navtxt-gs a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-horiz-navtxt-gs a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxthome a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxthome a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxthome a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxthome-g
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxthome-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxthome-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxthome-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxthome-gs
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxthome-gs a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxthome-gs a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxthome-gs a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtnext a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtnext a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtnext a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtnext-g
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtnext-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtnext-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtnext-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtnext-gs
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtnext-gs a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtnext-gs a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtnext-gs a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtprev a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtprev a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtprev a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtprev-g
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtprev-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtprev-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtprev-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtprev-gs
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtprev-gs a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtprev-gs a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtprev-gs a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtup a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtup a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtup a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtup-g
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtup-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtup-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtup-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-navtxtup-gs
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-navtxtup-gs a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-navtxtup-gs a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-navtxtup-gs a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-topbar-font a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-topbar-font a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-topbar-font a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-topbar-font-g
{
	color: #FFFF99;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle
}
.mstheme-topbar-font-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-topbar-font-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-topbar-font-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-vert-navtxt a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-vert-navtxt a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-vert-navtxt a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-vert-navtxt-g
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	vertical-align: middle
}
.mstheme-vert-navtxt-g a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-vert-navtxt-g a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-vert-navtxt-g a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-vert-navtxt-gs
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	vertical-align: middle
}
.mstheme-vert-navtxt-gs a:link
{
	color: rgb(142, 255, 243);
}
.mstheme-vert-navtxt-gs a:active
{
	color: rgb(255, 255, 0);
}
.mstheme-vert-navtxt-gs a:visited
{
	color: rgb(102, 204, 0);
}
.mstheme-vert-navtxt
{
	font-family: 新細明體;
	color: rgb(255, 255, 179);
	font-size: 4;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	vertical-align: middle
}
.mstheme     { navbutton-background-color: rgb(0,0,0); font-size: 15pt; top-bar-button: 
               url(neogbl.gif);  }
.mstheme-topbar-font { font-weight: bold; color: #FFFF99; font-size: 14pt; vertical-align: middle; 
               font-style: normal; text-align: center;  }
body         { background-image: url('neobkgnd.jpg'); font-size: 15pt }
button       { font-size: 15pt; font-style: normal; border-style: 
               solid; border-width: 1pt }
caption      { font-size: 15pt; font-style: normal;  }
fieldset     { font-size: 15pt; font-style: normal; border-style: 
               solid; border-width: 1pt }
h1           { font-weight: normal; font-style: normal; font-size: 24pt;  }
h2           { font-style: normal; font-size: 22pt; font-weight: 
               normal }
h3           { font-size: 20pt; font-weight: normal; font-style: 
               normal }
h4           { font-weight: normal; font-size: 16pt; font-style: normal;  }
h5           { font-size: 16pt; font-style: normal; font-weight: normal;  }
h6           { font-size: 15pt; font-style: normal; font-weight: 
               normal }
label        { font-style: normal; font-size: 15pt }
label, .mstheme-label { font-size: 15pt; font-style: normal }
legend       { font-style: normal; font-size: 15pt;  }
marquee      { font-size: 15pt }
select       { font-style: normal; font-size: 15pt; border-style: 
               solid;  }
table        { font-size: 15pt; font-style: normal }
textarea     { font-style: normal; font-size: 15pt; border-style: 
               solid;  }
th           { font-style: normal; font-size: 15pt }
