.mstheme
{
	nav-banner-image: url(zerbana.gif);
	separator-image: url(zerrulea.gif);
	list-image-1: url(zerbul1a.gif);
	list-image-2: url(zerbul2a.gif);
	list-image-3: url(zerbul3a.gif);
	navbutton-horiz-pushed: url(zernavhe.gif);
	navbutton-horiz-normal: url(zernavha.gif);
	navbutton-horiz-hovered: url(zernavhh.gif);
	navbutton-vert-pushed: url(zernavve.gif);
	navbutton-vert-normal: url(zernavva.gif);
	navbutton-vert-hovered: url(zernavvh.gif);
	navbutton-home-normal: url(zerhoma.gif);
	navbutton-home-hovered: url(zerhomh.gif);
	navbutton-home-pushed: url(zerhoma.gif);
	navbutton-up-normal: url(zerupa.gif);
	navbutton-up-hovered: url(zeruph.gif);
	navbutton-up-pushed: url(zerupa.gif);
	navbutton-prev-normal: url(zerprea.gif);
	navbutton-prev-hovered: url(zerpreh.gif);
	navbutton-prev-pushed: url(zerprea.gif);
	navbutton-next-normal: url(zernxta.gif);
	navbutton-next-hovered: url(zernxth.gif);
	navbutton-next-pushed: url(zernxta.gif);
}
.mstheme-bannertxt
{
	font-family: 新細明體;
	font-size: 6;
	font-weight: bold;
	vertical-align: bottom;
	color: rgb(255,255,255)
}
.mstheme-horiz-navtxt
{
	font-family: 新細明體;
	font-size: 2;
	color: rgb(255,255,255)
}
.mstheme-vert-navtxt
{
	font-family: 新細明體;
	font-size: 2;
	color: rgb(255,255,255)
}
.mstheme-navtxthome
{
	font-family: 新細明體;
	font-size: 1;
	color: rgb(255,255,255)
}
.mstheme-navtxtup
{
	font-family: 新細明體;
	font-size: 1;
	color: rgb(255,255,255)
}
.mstheme-navtxtprev
{
	font-family: 新細明體;
	font-size: 1;
	color: rgb(255,255,255)
}
.mstheme-navtxtnext
{
	font-family: 新細明體;
	font-size: 1;
	color: rgb(255,255,255)
}
UL
{
	list-style-image:url('zerbul1a.gif');
}
UL UL
{
	list-style-image:url('zerbul2a.gif');
}
UL UL UL
{
	list-style-image:url('zerbul3a.gif');
}
a:link
{
	color: rgb(102,153,102);
}
a:visited
{
	color: rgb(102,153,204);
}
a:active
{
	color: rgb(153,153,153);
}
body
{
	color: rgb(255,255,255);
	background-color: rgb(0,0,0);
}
h1
{
	color: rgb(102,153,204);
}
h2, marquee
{
	color: rgb(102,153,204);
}
h3
{
	color: rgb(102,153,204);
}
h4
{
	color: rgb(102,153,204);
}
h5
{
	color: rgb(102,153,204);
}
h6
{
	color: rgb(102,153,204);
}
BUTTON 
{
	background-color: rgb(102,153,204);	
	border-color: rgb(204,204,204);
	color:white;
}
LABEL, .MSTHEME-LABEL
{
	color: rgb(255,255,255);
}
TEXTAREA
{
	border-color: rgb(102,102,102);
	color:black;
}
FIELDSET
{
	border-color: rgb(102,102,102);
	color:white;
}
LEGEND
{
	color: rgb(102,153,204);
}
SELECT
{
	border-color: rgb(102,102,102);
	color:black;
}
TABLE
{
	table-border-color-light: rgb(204,204,204);
	table-border-color-dark: rgb(102,102,102);
	border-color: rgb(102,102,102);
	color: rgb(255,255,255);
}
CAPTION 
{
	color: rgb(102,153,204);
}
TH
{
	color: rgb(255,255,255);
}
HR
{
	color: rgb(102,153,204);
}
TD
{
	border-color: rgb(102,102,102);
}
.mstheme
{
	navbutton-background-color: rgb(0,0,0);
	top-bar-button: url(zerglobd.gif);
}
.mstheme-topbar-font
{
	font-family: 新細明體;
	font-size: 1;
	color: rgb(255,255,255)
}
body
{
	font-family: 新細明體;
	background-image: url('zertxtr.gif');
}
h1
{
	font-family:  新細明體;
	font-weight: normal;
	font-style: normal;
	font-size: 24pt
}
h2
{
	font-family: 新細明體;
	font-weight: normal;
	font-style: normal;
	font-size: 18pt
}
h3
{
	font-family: 新細明體;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt
}
h4
{
	font-family: 新細明體;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt
}
h5
{
	font-family: 新細明體;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt
}
h6
{
	font-family: 新細明體;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt
}
BUTTON 
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family: 新細明體;
	font-style: normal 
}
LABEL, .MSTHEME-LABEL
{
	font-size: 8pt;
	font-family: 新細明體;
	font-style:normal 
}
TEXTAREA
{
	border-style: solid;
	font-size: 8pt;
	font-family: 新細明體;
	font-style: normal 
}
FIELDSET
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family:新細明體;
	font-style: normal 	
}
LEGEND	
{
	font-size: 8pt;
	font-family: 新細明體;
	font-style: normal 
}
SELECT
{
	border-style: solid;
	font-size: 8pt;
	font-family: 新細明體;
	font-style: normal 
}
TABLE
{
	font-family: 新細明體;
	font-style: normal 
}
CAPTION 
{
	font-size: 14pt;
	font-family: 新細明體;
	font-style: normal 
}
TH
{
	font-family: 新細明體;
	font-style: normal 
}
MARQUEE
{
	font-size: 14pt;
	font-family: 新細明體;
}
.ms-main {
   border-right:  0px solid #000000;
}
.ms-bannerframe { 
   background-color: #333333;   
}
.ms-banner {
   color: #ffffff;
   font-size:    10pt;
   font-family:  新細明體;  
}  
.ms-banner a:link {
   font-family:  新細明體; 
   font-size:    10pt;
   color:   #ffffff;
   font-weight:  normal;
   text-decoration: none
   }
.ms-banner a:visited {
   font-family:  新細明體; 
   font-size:    10pt;
   color:        #ffffff;
   font-weight:  normal;
   text-decoration: none
   }
.ms-nav td {
   font-family:  新細明體; 
   font-size:    9pt;
   font-weight: normal;
   color:   #ffffff
}
.ms-nav th  {
   font-size:    9pt;
   font-family:  新細明體; 
   font-weight:  normal;
   text-align:   left;
   color:        #ffffff
}
.ms-navframe {
   color: #ffffff;
}
.ms-nav a {
   text-decoration: none;
   font-family:  新細明體;
   font-size:    9pt;
   font-weight: normal;
   color: #6699cc
}
.ms-nav a:link {
}
.ms-nav a:hover {
   text-decoration: underline;
   color:  #999999;
}
.ms-nav a:visited {
   color:  #669966;
}
.ms-verticaldots {
   background-image: url('blank.gif');
   background-position:  right 50%;
   background-repeat: repeat-y
}
.ms-viewselect A:link{
   font-size: 9pt;
   font-family:   新細明體;
   color: #6699cc
}
.ms-titlearea { 
   font-family:   新細明體;
   font-size:     10pt;
   color: #ffffff
}
.ms-titleareaframe {
   color: #000099; 
}
.ms-pagetitle {
   color: #cccccc; 
   font-family: 新細明體;
   font-size:  14pt;
   font-weight: normal
}
.ms-pagetitle a {
   text-decoration:underline;
   color: #ffffff;  
}
.ms-pagetitle a:hover {
   text-decoration: underline;
   color: #cccccc;
}
.ms-announcementtitle {
   font-weight: normal;
}

.ms-formlabel {
   text-align: left;
   font-family:  新細明體; 
   font-size:  9pt;
   font-weight: normal;
   color: #ffffff
}
.ms-formdescription a {
   color: #6699cc;
   text-decoration: underline;
}
.ms-formbody {
   text-align: left;
   font-family: 新細明體;  
   font-size: 9pt;
   color: #ffffff
}
.ms-formdescription
{
   font-family: 新細明體;  
   font-size: 9pt;
   color: #ffffff
}
.ms-radiotext {
   cursor:default;
   text-align: left;
   font-family: 新細明體;
   font-size: 9pt;
   height: 19px
}
.ms-searchbox {
   width: 100%;
}
.ms-input {
   font-size:    8pt;
   font-family:  新細明體;
   vertical-align: baseline
}
.ms-long {
   font-size:    8pt;
   font-family:  新細明體;
   width:        300px
}
.ms-wvsel {
   color: #999999;
}
.ms-selected {
   background-color: #999999;
   color: #000000;
}
.ms-selected SPAN {
   color: #000000;
}
.ms-filedialog TD {
   height: 16px;
}
.ms-descriptiontext {
   color: #ffffff;
   font-family: 新細明體;  
   font-size: 9pt
}
.ms-descriptiontext a {
   color: #6699cc;
   font-family: 新細明體;  
   font-size: 9pt
}
.ms-toolbar {
   font-family:   新細明體;
   font-size:   9pt;
   text-decoration: none;
   color:      #999999 
}
.ms-separator {
   color: #6699cc;
   font-size: 10pt;
}
.ms-authoringcontrols{
   background-color: #cccccc;
   font-family: 新細明體;  
   font-size: 10pt;
   color: #000000
}
.ms-sectionheader{
   color: #999999;
   font-family: 新細明體;
   font-size: 10pt;
   font-weight: bold
}
.ms-sectionline {
   background-color: #cccccc;
   height:  1px;
}
.ms-propertysheet {
   font-family: 新細明體;  
   font-size: 9pt   
}
.ms-propertysheet th {
   font-family: 新細明體;  
   font-size: 9pt;
   color: #ffffff;
   font-weight: normal
}   
.ms-propertysheet a {
   text-decoration: none;
   color: #6699cc;
}
.ms-propertysheet a:hover {
   text-decoration: underline;
   color: #999999;
}
.ms-propertysheet a:visited {
   text-decoration: none;
   color: #669966; 
}
.ms-propertysheet a:visited:hover {
   text-decoration: underline;
}
.ms-itemheader a {
   font-size: 10pt;
   font-family: 新細明體;  
   font-weight: normal;
   color: #6699cc;
   text-decoration: none
}
.ms-itemheader a:hover {
   text-decoration: underline;
   color: #999999;
}
.ms-itemheader a:visited {
   text-decoration: none;
   color: #669966;
}
.ms-itemheader a:visited:hover {
   text-decoration: underline;
}
.ms-discussiontitle {
   font-size:   10pt;
   font-family: 新細明體;  
   color: #ffffff;
   font-weight: bold
}
.ms-vh {
   font-family: 新細明體;  
   font-size: 9pt;
   color: #ffffff;
   text-align: left;
   text-decoration: none;
   font-weight: normal
}
.ms-vh a {
   color: #6699cc;
   text-decoration: none;
}
.ms-vh a:hover {
   text-decoration: underline;
}
.ms-vb{
   font-family: 新細明體;  
   font-size: 9pt;
   color: #ffffff;
   height: 18px;
   vertical-align: top
}
.ms-vb a {
   color: #6699cc;
   text-decoration: none;
}
.ms-vb a:hover {
   color: #999999;
   text-decoration: underline;
}
.ms-vb A:visited {
   color: #669966;
   text-decoration: none;
}
.ms-vb A:visited:hover {
   text-decoration: underline;
}
.ms-homepagetitle {
   font-family: 新細明體;
   font-size: 10pt;
   color: #999999;
   font-weight: bold;
   text-decoration: none
}
:hover.ms-homepagetitle {
   text-decoration: underline;
}
.ms-addnew {
   font-weight: normal;
   font-family: 新細明體;
   font-size: 9pt;
   color: #ffffff;
   text-decoration: none
}
.ms-cal {
   border-collapse:collapse;
   table-layout:fixed;
   background-color: #ffffff;
   font-family: 新細明體;
   cursor:default
}
.ms-caltop {
   border-top:1px solid #000000;
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   vertical-align:top;
   font-size: 10pt;
   width: 14%;
   height:30px;
}
.ms-calhead {
   border:medium none;
   text-align:center;
   background-color: #333333;
   color: #ffffff;
   font-size: 16pt;
   font-family: 新細明體;
   padding: 2px
}
.ms-caldow {
   border-top:1px solid #000000;
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   vertical-align:top;
   text-align:center;
   font-weight: bold;
   font-size: 10pt;
   color: #000000;
   height:20px;
}
.ms-calmid {
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   height:20px;
}
.ms-calspacer {
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   height:4px;
}
.ms-calbot {
   border-top:none;
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   border-bottom:1px solid #000000;
   height:2px;
}
.ms-appt a {
   color: #000000;
}
.ms-appt a:hover {
   color: red;
}
.ms-appt {
   border:2px solid #000000;
   text-align:center;
   vertical-align: middle;
   font-size:8pt;
   height:18px;
   overflow:hidden;
   background-color: #cccccc;
   color: #000000;
}
.ms-caldowdown {
   font-family: 新細明體;
   font-weight: bold;
   color: #000000;
   background-color: #ffffff;
   text-align: center;
   vertical-align: middle
}
.ms-caldown {
   font-size: 8pt;
   color: #000000;
   background-color: #ffffff;
   text-align: left;
   vertical-align: top;
}
.ms-datepickeriframe {
   position:absolute;
   display:none;
   background:white;
}
.ms-datepicker {
   font-family: 新細明體;
   background-color: #ffffff;
   color: #000000;
   border: 2px outset activeborder;
   cursor:default
}
.ms-dpdow {
   border:none;
   vertical-align:top;
   text-align:center;
   font-weight: bold;
   font-size: 8pt;
   color: #000000;
   border-bottom:1px solid #000000;
}
.ms-dpday {
   border:none;
   font-size: 8pt;
   text-align: center;
}
.ms-dpselectedday {
   border:none;
   background-color:#cccccc;
   font-size: 8pt;
   text-align: center;
}
.ms-dpnonmonth {
   color: #999999;
   border:none;
   font-size: 8pt;
   text-align: center;
}
.ms-dphead {
   border:none;
   text-align:center;
   font-weight: bold;
   font-size: 8pt;
   background-color: #333333;
   color: #cccccc;
}
.ms-dpfoot {
   text-align:center;
   font-size: 8pt;
   text-align: center;
   font-style: italic;
   border-top:1px solid;
   border-left:none;
   border-bottom:none;
   border-right:none;
   height:24px;
}
IMG.ms-button {
   cursor:hand;
}
